@import "./variables";

html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.landing {
    background: $mobileLandingBg url("/images/bg-pattern.svg") top left no-repeat;
    padding: 2rem 1.5rem;
    min-height: 100vh;
}

.header {
    text-align: center;
    font-family: $font-family;
    background: url("/images/pattern-circles.svg") center no-repeat;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;

    &__title {
        color: $mainTextColor;
        font-size: 1.3rem;

        @include media-query(tablet) {
            font-size: 1.7rem;
        }
    }

    &__subtext {
        color: $textColor;
        font-size: .9rem;
        width: 12rem;
        margin: 0 auto;

        @include media-query(tablet) {
            width: 100%;
        }
    }
}

.card {
    background-color: $cardBg;
    font-family: $font-family;
    border-radius: .5rem;
    box-shadow: 0 .25rem .8rem 0 #f1f2f7;
    margin: 2rem auto;
    width: Min(32.5rem, 100%);
    $self: &;
    cursor: default;

    &__content {
        display: grid;
        align-items: center;
        text-align: center;

        @include media-query(tablet) {
            grid-template-columns: repeat(2, 1fr);
            text-align: left;
        }

        &--main {
            padding: 1.8rem 1rem 1rem;

            @include media-query(tablet) {
                padding: 2.5rem 2.5rem 1rem;
            }
        }

        &--sub {
            padding: 1rem 1rem 1.8rem;

            @include media-query(tablet) {
                padding: 1rem 2.5rem 1rem;
            }
        }
    }

    &__pageviews {
        color: $textColor;
        text-transform: uppercase;
        font-size: .8rem;
        letter-spacing: .07rem;
        margin: 0;
    }

    &__price {
        color: $mainTextColor;
        font-size: 2.3rem;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        @include media-query(tablet) {
            grid-column: 2 / 3;
            grid-row: 1;
            justify-content: flex-end;
        }
    }

    &__price-type {
        font-size: 1rem;
        font-weight: 600;
        color: $textColor;
        margin-left: .5rem;
    }

    &__slider-container {
        position: relative;
        margin: 2.5rem 0;

        @include media-query(tablet) {
            grid-column: span 2;
        }
    }

    &__slider-track {
        width: 100%;
        height: 1rem;
        background-color: $sliderDefault;
        border-radius: 2rem;
    }

    &__slider-progress {
        background-color: $sliderActive;
        width: 100%;
        height: 1rem;
        border-radius: 2rem;
        transform-origin: left;
    }

    &__slider-thumb {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: $sliderIndicator;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 0.625rem 1rem 0 $sliderActive;
        cursor: grabbing;

        &::after {
            content: url("/images/icon-slider.svg");
        }

        &--dragging {
            background-color: $sliderActive;

            &::after {
                content: url("/images/icon-slider-dragging.svg");
            }
        }
    }

    &__toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 1rem;

        @include media-query(tablet) {
            grid-column: span 2;
            margin: 1rem 0;
        }
    }

    &__toggle-btn {
        width: 2.75rem;
        height: 1.375rem;
        background-color: $toggleBg;
        border-radius: 2rem;
        margin: 0 .8rem;
        position: relative;
        cursor: pointer;

        &:hover, &--annual {
            background-color: $sliderIndicator;
        }

        &--annual {
            #{ $self }__toggle-indicator {
                left: 1.55rem;
            }
        }
    }

    &__toggle-indicator {
        width: 1rem;
        height: 1rem;
        background-color: $cardBg;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: .1875rem;
        transform: translateY(-50%);
        transition: .2s ease-in-out;
    }

    &__toggle-text {
        font-size: .7rem;
        color: $textColor;
        margin: 0;
        position: relative;
        cursor: default;
    }

    &__discount {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $discountText;
        background-color: $discountBg;
        padding: .125rem .5rem;
        border-radius: 2rem;
        margin-left: .3rem;

        &--desktop {
            display: none;
        }

        @include media-query(tablet) {
            &--mobile {
                display: none;
            }
            
            &--desktop {
                display: inline-block;
                width: 5.55rem;
            }
        }
    }

    &__divider {
        border: 0;
        border-top: 1px solid $toggleBg;
    }

    &__feature {
        font-size: .8rem;
        margin-top: 0;
        color: $textColor;
        cursor: default;

        &::before {
            content: url("/images/icon-check.svg");
            margin-right: .5rem;
        }
    }

    &__button {
        font-family: $font-family;
        font-size: .8rem;
        outline: none;
        border: none;
        background-color: $mainTextColor;
        color: $desktopLandingBg;
        padding: .8rem 3rem;
        border-radius: 2rem;
        margin-top: 1rem;
        justify-self: center;
        cursor: pointer;

        @include media-query(tablet) {
            margin: 0;
            justify-self: end;
        }
    }
}

.attribution {
    font-family: $font-family;
    font-size: 0.6875rem;
    text-align: center;
    padding: 1rem 0;

    a { color: hsl(228, 45%, 44%); }
}